//variables

@import "utilities/variables";
@import "utilities/mapas"; 
@import "utilities/listas";
@import"utilities/mixin";
@import"utilities/extend";



body{    
     
     display: grid;
     grid-template-columns:auto;
     grid-template-rows:auto;  
     grid-template-areas: 
        "header header header"
        "main main main"    
        "footer footer footer"; 


        header {


           
            //Estilos Nav
    
            nav{
    
                ul{
            
                    li{
                
                    font-size: 2rem;
                    text-align: center;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-weight: bolder;                    
                    text-shadow: 2px;           
                    }
                }
        
            }    
            
        }
    
            //Estilos main
    
        main{                         
                @extend %mains;



                 h1{
                
                    grid-area: h1;
                    text-align: center;
                    color: $color-texto-h1;
                    text-shadow: 1px 1px black;
                    font-size: 40px;
                    margin-bottom: 90px;
            
                }

                p{
                   text-align: center;
                   font-size: 22px;
                   margin-bottom: 180px;
                   color: $color-texto;
                }

                h2{

                    text-align: center;
                    color: nth($list: $colores, $n:2 );
                    text-shadow: 1px 1px black;
                    font-size: 32px;
                    margin-bottom: 80px;
                    grid-area: h2;

                }
    
                h3{   
                    text-align: center;
                    grid-area: h3;

                    @include box-model;
                    background-color: map-get($map: $standard, $key:bg-standard);
                    color: map-get($map: $standard, $key:color-standard);
                    border: map-get($map: $standard, $key:border-standard);
                    font-size: map-get($map: $standard, $key:font-standard);  
                }                            

                .img3:hover:hover{

                    transform: scale(1.2);
                }

                .img3{

                    transition: 1s;
                    margin: 10px 20px 20px 550px;
                }

                h4{
                    
                    margin: 150px 20px 20px 500px ;
                    grid-area: h4;
                }

                .video{
                        margin: 0px 0px 0px ;

                }
                section{

                    @include box-model;
                    background-color: map-get($map: $standard, $key:bg-standard);
                    color: map-get($map: $standard, $key:color-standard);
                    border: map-get($map: $standard, $key:border-standard);
                    font-size: map-get($map: $standard, $key:font-standard);  
                }

                 

            }
        }

        footer{
             
                background-color:$color-main;
                margin-top: 800px;
                text-align: center;
                grid-area: footer;
        }

        @media screen and (min-width:600px){

            main{grid-template-areas: 
            "header header header"
            "main main main"
            "footer footer footer"; 
            }
        }
    


