//---Usuarios standard---

$standard:(

    color-standard: rgb(240, 236, 236),
    bg-standard: rgb(43, 99, 163),
    border-standard: 2px solid grey,
    font-standard: 1.5rem,
);

$premium:(

    color-premium: rgb(130, 238, 238),
    bg-premium: rgb(8, 80, 102),
    border-premium: 3px solid grey,
    font-premium: 2rem,
);



